<!doctype html>
<html>

<head>
	<title>{{ admintitle }} - Florrie Administration</title>

	<meta charset="{{ _charset }}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/templates/css/layout.css">
	<link rel="stylesheet" type="text/css"
		href="/templates/css/layout-admin.css">
	{% for script in scripts %}
	<script type="text/javascript" src="{{ script }}"></script>
	{% endfor %}
</head>

<body class="page-admin">
	<a class="a11y-link" href="#content">Skip to content</a>
	<header class="header">
		<div class="site-title">
			<a href="/admin/">Florrie</a>
		</div>
		<nav>
			<ul class="admin-nav admin-overlay">
				<li><a class="button{% if section == "users" %} active{% endif %}"
					href="/admin/users">Users</a></li>
				<li><a class="button{% if section == "strips" %} active{% endif %}"
					href="/admin">Strips</a></li>
				<li><a class="button{% if section == "settings" %} active{% endif %}"
					href="/admin/settings">Settings</a></li>
			</ul>
		</nav>
	</header>
	<section class="content">
		<h1 class="content-title">{{ admintitle }}</h1>
		{% block adminmodule %}
		{% endblock %}
		<div class="admin-credentials admin-overlay">
			<a href="/admin/user/{{ user.user }}">{{ user.display }}</a> |
			<a href="/login/logout">Log out</a>
		</div>
	</section>
	<footer class="footer">
		© {{ "now"|date('Y') }} {{ florrie.name }}
	</footer>
</body>

</html>
