{% extends "page-base.html" %}

{% block title %}Log in to Florrie{% endblock %}

{% block content %}
		<h1 class="content-title">Log in to Florrie</h1>
		<p>
			These pages require special permissions; please log in if you are
			authorized to use them.
		</p>
		<form method="post" action="/login">
			<p>
				<label for="username">
					Username
					<input type="text" required id="username" name="username">
				</label>
			</p>
			<p>
				<label for="password">
					Password
					<input type="password" required id="password" name="password">
				</label>
			</p>
			<p>
				<input type="hidden" name="submitted" value="true">
				<input type="submit" value="Log in">
			</p>
		</form>
{% endblock %}
