{% macro formField(field, type) %}
				<label for="{{ field.id }}">
					{{ field.prompt }}
					<input type="{{ type }}" id="{{ field.id }}" name="{{ field.id }}"
					{% if field.value is not empty %}
						value="{{ field.value }}"
					{% endif %}
					{% if field.required is not empty %}
						required
					{% endif %}
					{% if field.placeholder is not empty %}
						placeholder="{{ field.placeholder }}"
					{% endif %}>
				</label>
{% endmacro %}


{% macro csrfField(value) %}
				<input type="hidden" name="csrf" value="{{ value }}">
{% endmacro %}


{% macro dateField(field) %}
				<label for="{{ field.id }}">
					{{ field.prompt }}
					<input type="date" id="{{ field.id }}" name="{{ field.id }}"
					{% if field.value is not empty %}
						value="{{ field.value|date("Y-m-d") }}"
					{% endif %}
					{% if field.required is not empty %}
						required
					{% endif %}
					{% if field.placeholder is not empty %}
						placeholder="{{ field.placeholder }}"
					{% endif %}>
				</label>
{% endmacro %}


{% macro fileField(field) %}
				<label for="{{ field.id }}">
					<input type="hidden" name="MAX_FILE_SIZE" value="48000000">
					{{ field.prompt }}
					<input type="file" id="{{ field.id }}" name="{{ field.id }}"
					{% if field.required is not empty %}
						required
					{% endif %}
					>
				</label>
{% endmacro %}


{% macro hiddenField(field) %}
					<input type="hidden" name="{{ field.id }}" value="{{ field.value }}">
{% endmacro %}


{% macro numberField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'text') }}
{% endmacro %}


{% macro passwordField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'password') }}
{% endmacro %}


{% macro radioField(field) %}
					<label for="{{ field.id }}-{{ field.value }}">
						<input type="radio" name="{{ field.id }}"
							id="{{ field.id }}-{{ field.value }}"
							value="{{ field.value }}">
						{{ field.prompt }}
					</label>
{% endmacro %}


{% macro textField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'text') }}
{% endmacro %}


{% macro urlField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'url') }}
{% endmacro %}


{% macro textBox(field) %}
				<label for="{{ field.id }}">
					{{ field.prompt }}
					<textarea id="{{ field.id }}" name="{{ field.id }}"
					{% if field.required is not empty %}
						required
					{% endif %}
					>{{ field.value }}</textarea>
				</label>
{% endmacro %}


{% macro submitButton(submitText) %}
				<input type="submit" value="{{ submitText }}">
				<input type="hidden" name="submitted" value="true">
{% endmacro %}
