{% macro formField(field, type) %}
				<label for="{{ field.id|e('html_attr') }}">
					{{ field.prompt }}
					<input type="{{ type|e('html_attr') }}" id="{{ field.id|e('html_attr') }}" name="{{ field.id|e('html_attr') }}"
					{% if field.value is not empty %}
						value="{{ field.value|e('html_attr') }}"
					{% endif %}
					{% if field.required is not empty %}
						required
					{% endif %}
					{% if field.placeholder is not empty %}
						placeholder="{{ field.placeholder|e('html_attr') }}"
					{% endif %}>
				</label>
{% endmacro %}


{% macro csrfField(value) %}
				<input type="hidden" name="csrf" value="{{ value|e('html_attr') }}">
{% endmacro %}


{% macro dateField(field) %}
				<label for="{{ field.id|e('html_attr') }}">
					{{ field.prompt }}
					<input type="date" id="{{ field.id|e('html_attr') }}" name="{{ field.id|e('html_attr') }}"
					{% if field.value is not empty %}
						value="{{ field.value|date("Y-m-d") }}"
					{% endif %}
					{% if field.required is not empty %}
						required
					{% endif %}
					{% if field.placeholder is not empty %}
						placeholder="{{ field.placeholder|e('html_attr') }}"
					{% endif %}>
				</label>
{% endmacro %}


{% macro fileField(field) %}
				<label for="{{ field.id|e('html_attr') }}">
					<input type="hidden" name="MAX_FILE_SIZE" value="48000000">
					{{ field.prompt }}
					<input type="file"
						id="{{ field.id|e('html_attr') }}"
						name="{{ field.id|e('html_attr') }}"
					{% if field.required is not empty %}
						required
					{% endif %}
					>
				</label>
{% endmacro %}


{% macro hiddenField(field) %}
					<input type="hidden"
						name="{{ field.id|e('html_attr') }}"
						value="{{ field.value|e('html_attr') }}">
{% endmacro %}


{% macro numberField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'text') }}
{% endmacro %}


{% macro passwordField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'password') }}
{% endmacro %}


{% macro radioField(field) %}
					<label for="{{ field.id|e('html_attr') }}-{{ field.value|e('html_attr') }}">
						<input type="radio" name="{{ field.id|e('html_attr') }}"
							id="{{ field.id|e('html_attr') }}-{{ field.value|e('html_attr') }}"
							{% if field.value == field.match %}checked{% endif %}
							value="{{ field.value|e('html_attr') }}">
						{{ field.prompt }}
					</label>
{% endmacro %}


{% macro textField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'text') }}
{% endmacro %}


{% macro urlField(field) %}
	{% import _self as forms %}
	{{ forms.formField(field, 'url') }}
{% endmacro %}


{% macro textBox(field) %}
				<label for="{{ field.id|e('html_attr') }}">
					{{ field.prompt }}
					<textarea id="{{ field.id|e('html_attr') }}" name="{{ field.id|e('html_attr') }}"
					{% if field.required is not empty %}
						required
					{% endif %}
					>{{ field.value }}</textarea>
				</label>
{% endmacro %}


{% macro submitButton(submitText) %}
				<input type="submit" value="{{ submitText|e('html_attr') }}">
				<input type="hidden" name="submitted" value="true">
{% endmacro %}
