{% set admintitle = "Add A Strip" %}

{% extends "page-admin.html" %}
{% import "macro-forms.html" as form %}

{% block admin-module %}
		<form method="post" enctype="multipart/mime">
			<p>
				{{ nav.textField({
					id: "title",
					prompt: "Strip title",
					value: values.title
				}) }}
			</p>
			<p>
				{{ nav.dateField({
					id: "posted",
					prompt: "Post on",
					value: values.posted
				}) }}
			</p>
			<p>
				{{ nav.textBox({
					id: "display",
					prompt: "Description",
					required: true,
					value: values.display
				}) }}
			</p>
			<p>
				{{ nav.fileField({
					id: "img",
					prompt: "Strip Image",
					required: true
				}) }}
			</p>
			<p class="c">
				{{ nav.submitButton("Add Strip") }}
			</p>
		</form>
{% endblock %}
