{% extends "page-base.html" %}
{% import "macro-forms.html" as form %}

{% block title %}Install Florrie{% endblock %}

{% block content %}
		<h1 class="content-title">Install Florrie</h1>
		<p>
			Welcome to Florrie, the comic management system! It looks like this
			is the first time Florrie has been run, so we're going to ask a
			couple questions to help us get things set up.
		</p>
		<form method="post">
			<fieldset>
				<legend>Comic Details</legend>
				<p>
					{{ nav.textField({
						id: 'florrie-name',
						prompt: 'Name of your comic',
						required: true,
						value: ''
					}) }}
				</p>
				<p>
					{{ nav.textField({
						id: 'florrie-desc',
						prompt: 'Short description',
						required: true,
						value: ''
					}) }}
				</p>
				<p>
					{{ nav.textField({
						id: 'florrie-url',
						prompt: 'Comic URL',
						required: true,
						value: ''
					}, 'url') }}
				</p>
			</fieldset>
			<fieldset>
				<legend>Theme</legend>
				{% for dir, theme in themes %}
				<p>
					<label for="florrie-theme{{ dir }}">
						<input type="radio" name="florrie-theme"
							id="florrie-theme-{{ dir }}" value="{{ dir }}">
						{{ theme }}
					</label>
				</p>
				{% endfor %}
			</fieldset>
			<fieldset>
				<legend>Database Configuration</legend>
				<p>
					{{ nav.textField({
						id: 'data-server',
						prompt: 'Server',
						required: true,
						placeholder: 'localhost',
						value: ''
					}) }}
				</p>
				<p>
					{{ nav.textField({
						id: 'data-port',
						prompt: 'Port',
						required: true,
						placeholder: '3307',
						value: ''
					}) }}
				</p>
				<p>
					{{ nav.textField({
						id: 'data-db',
						prompt: 'Database/Schema Name',
						required: true,
						placeholder: 'florrie',
						value: ''
					}) }}
				</p>
				<p>
					{{ nav.textField({
						id: 'data-user',
						prompt: 'User',
						required: true,
						value: ''
					}) }}
				</p>
				<p>
					{{ nav.textField({
						id: 'data-pass',
						prompt: 'Password',
						required: true,
						value: ''
					}) }}
				</p>
			</fieldset>
			{% if ftp == "true" %}
			<fieldset>
				<legend>FTP Details</legend>
				<p>
					Unfortunately, it doesn't look like we can write files to
					your server. We will need another way to add files; please
					enter a FTP user.
				</p>
				<p>
					<em>TODO: Coming soon! This part doesn't actually work yet.</em>
				</p>
				<p>
					<label for="florrie-name">
						Name of your comic
						<input type="text" id="florrie-name" name="florrie-name">
					</label>
				</p>
				<p>
					<label for="florrie-desc">
						Short description
						<input type="text" id="florrie-name" name="florrie-name">
					</label>
				</p>
				<p>
					<label for="florrie-url">
						Comic URL
						<input type="url" id="florrie-url" name="florrie-url">
					</label>
				</p>
			</fieldset>
			{% endif %}
			<fieldset>
				<legend>Admin User</legend>
				<p>
					Keys to the kingdom! Phenomenal cosmic power! Set up your
					admin user, who will post comics in a single bound!
				</p>
				<p>
					<label for="username">
						Username
						<input type="text" required id="username" name="username">
					</label>
				</p>
				<p>
					<label for="password">
						Password
						<input type="password" required id="password" name="password">
					</label>
				</p>
				<p>
					<label for="desc">
						Description
						<input type="text" required id="desc" name="desc">
					</label>
				</p>
			</fieldset>
			<p class="c">
				<input type="submit" value="Install Florrie">
				<input type="hidden" name="submitted" value="true">
			</p>
		</form>
{% endblock %}
