{% extends "page-base.html" %}
{% import "macro-forms.html" as form %}

{% block title %}Install Florrie{% endblock %}

{% block content %}
		<h1 class="content-title">Install Florrie</h1>
		<p>
			Welcome to Florrie, the comic management system! It looks like this
			is the first time Florrie has been run, so we're going to ask a
			couple questions to help us get things set up.
		</p>
		{% if recommendations is not empty %}
		<aside class="install-recommendations">
			<h1>Missing Recommendations</h1>
			<p>
				It looks like we can install Florrie, but you're missing a few things
				that we recommend:
			</p>
			<ul>
				{% for recommendation in recommendations %}
				<li>{{ recommendation }}</li>
				{% endfor %}
			</ul>
			<p>
				Florrie might work better if you could fix some of these issues.
			</p>
		</aside>
		{% endif %}
		<form method="post">
			<h2>Comic Settings</h2>
				{% include "block-strip.html" with {
				} %}
			<fieldset>
				<legend>Admin User</legend>
				<p>
					Keys to the kingdom! Phenomenal cosmic power! Set up your
					admin user, who will post comics in a single bound!
				</p>
				{% include "block-user-form.html" with {
				} %}
			</fieldset>
			<p class="c">
				<input type="submit" value="Install Florrie">
				<input type="hidden" name="submitted" value="true">
			</p>
		</form>
{% endblock %}
