{% set admintitle = "Administration" %}
{% extends "page-admin.html" %}

{% block adminmodule %}
	<ul class="admin-strip-list">
		{% if strips|length >= 3 %}
		<li>
			<a href="/admin/allstrips" 
				class="admin-thumb admin-all-thumb">View all strips</a>
		</li>
		{% endif %}
		{% for strip in strips %}
		<li>
			<a href="/admin/editstrip/{{ strip.id }}"
				class="admin-thumb admin-strip-thumb
				{% if date(strip.posted) > date() %}
				admin-unpublished-thumb
				{% elseif strip.next is empty %}
				admin-latest-thumb
				{% endif %}">
				<img src="{{ strip.imgPath }}"
					title="{{ strip.title ?: strip.posted|date("l, F jS, Y") }}"
					alt="{{ strip.display }}">
			</a>
		</li>
		{% endfor %}
		<li>
			<a class="admin-thumb admin-new-thumb"
				href="/admin/addstrip">Add a strip</a>
		</li>
	</ul>
{% endblock %}
