{% set admintitle = "Main" %}
{% extends "page-admin.html" %}

{% block adminmodule %}
	<section class="adminmodule">
		<h1>Strips</h1>
		<ul>
			<li><a href="/admin/addstrip">Add a strip</a></li>
		</ul>
		<h2>Existing Strips</h2>
		<ul>
			{% for strip in strips %}
			<li>
				<a href="/admin/editstrip/{{ strip.id }}">{{ strip.title }}</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section class="adminmodule">
		<h1>Users</h1>
		<ul>
			<li><a href="#">Add a user</a></li>
			<li><a href="#">Edit a user</a></li>
			<li><a href="#">Delete a user</a></li>
		</ul>
	</section>
{% endblock %}
