{% extends "page-base.html" %}

{% block title %}Install Florrie{% endblock %}

{% block content %}
		<h1 class="content-title">Install Florrie</h1>
		<p>
			Welcome to Florrie, the comic management system! It looks like this
			is the first time Florrie has been run, so we're going to ask a
			couple questions to help us get things set up.
		</p>
		<form method="post">
			<fieldset>
				<legend>Comic Details</legend>
				<p>
					<label for="florrie-name">
						Name of your comic
						<input type="text" required id="florrie-name" name="florrie-name">
					</label>
				</p>
				<p>
					<label for="florrie-desc">
						Short description
						<input type="text" required id="florrie-desc" name="florrie-desc">
					</label>
				</p>
				<p>
					<label for="florrie-url">
						Comic URL
						<input type="url" required id="florrie-url" name="florrie-url">
					</label>
				</p>
			</fieldset>
			<fieldset>
				<legend>Theme</legend>
				{% for dir, theme in themes %}
				<p>
					<label for="florrie-theme{{ dir }}">
						<input type="radio" name="florrie-theme"
							id="florrie-theme-{{ dir }}" value="{{ dir }}">
						{{ theme }}
					</label>
				</p>
				{% endfor %}
			</fieldset>
			<fieldset>
				<legend>Database Configuration</legend>
				<p>
					<label for="data-server">
						Server
						<input type="text" id="data-server" name="data-server"
						placeholder="localhost">
					</label>
				</p>
				<p>
					<label for="data-port">
						Port
						<input type="text" id="data-name" name="data-name"
						placeholder="3307">
					</label>
				</p>
				<p>
					<label for="data-db">
						Database/Schema Name
						<input type="text" id="data-db" name="data-db"
						placeholder="florrie">
					</label>
				</p>
				<p>
					<label for="data-user">
						User
						<input type="text" required id="data-user" name="data-user">
					</label>
				</p>
				<p>
					<label for="data-pass">
						Password
						<input type="password" required id="data-pass" name="data-pass">
					</label>
				</p>
			</fieldset>
			{% if ftp == "true" %}
			<fieldset>
				<legend>FTP Details</legend>
				<p>
					Unfortunately, it doesn't look like we can write files to
					your server. We will need another way to add files; please
					enter a FTP user.
				</p>
				<p>
					<em>TODO: Coming soon! This part doesn't actually work yet.</em>
				</p>
				<p>
					<label for="florrie-name">
						Name of your comic
						<input type="text" id="florrie-name" name="florrie-name">
					</label>
				</p>
				<p>
					<label for="florrie-desc">
						Short description
						<input type="text" id="florrie-name" name="florrie-name">
					</label>
				</p>
				<p>
					<label for="florrie-url">
						Comic URL
						<input type="url" id="florrie-url" name="florrie-url">
					</label>
				</p>
			</fieldset>
			{% endif %}
			<fieldset>
				<legend>Admin User</legend>
				<p>
					Keys to the kingdom! Phenomenal cosmic power! Set up your
					admin user, who will post comics in a single bound!
				</p>
				<p>
					<label for="username">
						Username
						<input type="text" required id="username" name="username">
					</label>
				</p>
				<p>
					<label for="password">
						Password
						<input type="password" required id="password" name="password">
					</label>
				</p>
				<p>
					<label for="desc">
						Description
						<input type="text" required id="desc" name="desc">
					</label>
				</p>
			</fieldset>
			<p class="c">
				<input type="submit" value="Install Florrie">
				<input type="hidden" name="submitted" value="true">
			</p>
		</form>
{% endblock %}
