{% set admintitle = "All Strips" %}
{% extends "page-admin.html" %}

{% block adminmodule %}
	<ul class="strip-list">
		{% for strip in strips %}
		<li>
			<a href="/admin/editstrip/{{ strip.id }}"
				class="thumb strip-thumb
				{% if date(strip.posted) > date() %}
				unpublished-thumb
				{% elseif strip.next is empty %}
				latest-thumb
				{% endif %}">
				<img src="{{ strip.imgPath }}"
					title="{{ strip.title ?: strip.posted|date("l, F jS, Y") }}"
					alt="{{ strip.display }}">
			</a>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
