<!doctype html>
<html>

<head>
	<title>{% block title %}{{ florrie.name }}{% endblock %}</title>
	<meta charset="{{ _charset }}">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ florrie.themedir }}/css/layout.css">
</head>

<body>
	<a class="a11y-link" href="#content">Skip to content</a>
	<header class="header">
		<div class="site-title">
			<a href="/">{{ florrie.name }}</a>
		</div>
		<nav>
			<ul class="main-nav">
				<li class="main-nav-item"><a href="#">About</a></li>
				<li class="main-nav-item"><a href="/strip/archive">Archive</a></li>
				<li class="main-nav-item"><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<section class="content">{% block content %}{% endblock %}</section>
	<footer class="footer">
		© {{ "now"|date('Y') }} {{ florrie.name }}
	</footer>
</body>

</html>
